<a href="https://colab.research.google.com/github/lithin-minfy/Python_EDA_Assignment/blob/main/Assignment1ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Load a CSV file and display the first 5 rows.
import numpy as np
import pandas as pd

df = pd.read_csv('/content/oecd_bli_2015.csv')
df.head()

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.1,E,Estimated value
1,AUT,Austria,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.0,NaN,NaN
2,BEL,Belgium,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,2.0,NaN,NaN
3,CAN,Canada,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,0.2,NaN,NaN
4,CZE,Czech Republic,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,0.9,NaN,NaN

In [ ]:
# Find missing values in a DataFrame and count them column-wise.

missing_values_count = df.isnull().sum()
print(missing_values_count)

LOCATION                    0
Country                     0
INDICATOR                   0
Indicator                   0
MEASURE                     0
Measure                     0
INEQUALITY                  0
Inequality                  0
Unit Code                   0
Unit                        0
PowerCode Code              0
PowerCode                   0
Reference Period Code    3292
Reference Period         3292
Value                       0
Flag Codes               2172
Flags                    2172
dtype: int64

In [ ]:
# Filter rows in a DataFrame where a column value > 100.
filtered_df = df[df['Value'] > 100]
print(filtered_df)

     LOCATION         Country INDICATOR  \
327       AUS       Australia   IW_HADI
328       AUT         Austria   IW_HADI
329       BEL         Belgium   IW_HADI
330       CAN          Canada   IW_HADI
331       CZE  Czech Republic   IW_HADI
...       ...             ...       ...
1743      EST         Estonia   ES_STCS
1744      ISR          Israel   ES_STCS
1745      RUS          Russia   ES_STCS
1746      SVN        Slovenia   ES_STCS
1747     OECD    OECD - Total   ES_STCS

                                     Indicator MEASURE Measure INEQUALITY  \
327   Household net adjusted disposable income       L   Value        TOT
328   Household net adjusted disposable income       L   Value        TOT
329   Household net adjusted disposable income       L   Value        TOT
330   Household net adjusted disposable income       L   Value        TOT
331   Household net adjusted disposable income       L   Value        TOT
...                                        ...     ...     ...        ...
1743                            Student skills       L   Value         LW
1744                            Student skills       L   Value         LW
1745                            Student skills       L   Value         LW
1746                            Student skills       L   Value         LW
1747                            Student skills       L   Value         LW

     Inequality Unit Code           Unit  PowerCode Code PowerCode  \
327       Total       USD      US Dollar               0     units
328       Total       USD      US Dollar               0     units
329       Total       USD      US Dollar               0     units
330       Total       USD      US Dollar               0     units
331       Total       USD      US Dollar               0     units
...         ...       ...            ...             ...       ...
1743        Low   AVSCORE  Average score               0     units
1744        Low   AVSCORE  Average score               0     units
1745        Low   AVSCORE  Average score               0     units
1746        Low   AVSCORE  Average score               0     units
1747        Low   AVSCORE  Average score               0     units

      Reference Period Code  Reference Period    Value Flag Codes Flags
327                     NaN               NaN  31588.0        NaN   NaN
328                     NaN               NaN  31173.0        NaN   NaN
329                     NaN               NaN  28307.0        NaN   NaN
330                     NaN               NaN  29365.0        NaN   NaN
331                     NaN               NaN  18404.0        NaN   NaN
...                     ...               ...      ...        ...   ...
1743                    NaN               NaN    503.0        NaN   NaN
1744                    NaN               NaN    415.0        NaN   NaN
1745                    NaN               NaN    436.0        NaN   NaN
1746                    NaN               NaN    454.0        NaN   NaN
1747                    NaN               NaN    452.0        NaN   NaN

[662 rows x 17 columns]

In [ ]:
# Group a DataFrame by a column and calculate the mean of each group.
grouped = df.groupby('Country')['Value'].mean()
print(grouped)

Country
Australia           6267.896073
Austria             6019.059822
Belgium             7257.838220
Brazil              1994.952908
Canada              6708.151509
Chile               2755.229627
Czech Republic      2786.791761
Denmark             5735.051600
Estonia             2222.269720
Finland             4493.590157
France              5618.577255
Germany             6012.104128
Greece              3022.010949
Hungary             2503.221751
Iceland             5785.920712
Ireland             5166.357437
Israel              4783.771546
Italy               5242.214604
Japan               6382.745840
Korea               4113.501405
Luxembourg          7464.177342
Mexico              2047.348742
Netherlands         6964.230548
New Zealand         4281.938270
Norway              4947.473186
OECD - Total        4451.821302
Poland              2677.680974
Portugal            3581.125497
Russia              2467.332744
Slovak Republic     2419.655631
Slovenia            3558.214961
Spain               4167.375201
Sweden              5947.034454
Switzerland         8558.713982
Turkey              1859.787289
United Kingdom      5985.486437
United States      10622.746153
Name: Value, dtype: float64

In [ ]:
# Sort a DataFrame by multiple columns.
df.sort_values(by=['Country', 'Value'],ascending = (True,False),inplace=True)
print("sorted columns:")
print(df[['Country','Value']])

sorted columns:
            Country    Value
1211      Australia  63976.0
436       Australia  62627.0
1137      Australia  54780.0
1100      Australia  50449.0
510       Australia  47657.0
...             ...      ...
2951  United States      1.3
1055  United States      1.1
29    United States      0.1
66    United States      0.1
102   United States      0.1

[3292 rows x 2 columns]

In [ ]:
# Add a new column to a DataFrame that is a transformation of existing columns.
df['total'] = df['Value'] * df['Value']
print(df[['Country','Value','total']])

            Country    Value         total
1211      Australia  63976.0  4.092929e+09
436       Australia  62627.0  3.922141e+09
1137      Australia  54780.0  3.000848e+09
1100      Australia  50449.0  2.545102e+09
510       Australia  47657.0  2.271190e+09
...             ...      ...           ...
2951  United States      1.3  1.690000e+00
1055  United States      1.1  1.210000e+00
29    United States      0.1  1.000000e-02
66    United States      0.1  1.000000e-02
102   United States      0.1  1.000000e-02

[3292 rows x 3 columns]

In [ ]:
df2 = pd.read_excel('/content/Copy of gdp_per_capita.xlsx')
print(df2.head())
print(df.columns)
print(df2.columns)

               Country                                 Subject Descriptor  \
0          Afghanistan  Gross domestic product per capita, current prices
1              Albania  Gross domestic product per capita, current prices
2              Algeria  Gross domestic product per capita, current prices
3               Angola  Gross domestic product per capita, current prices
4  Antigua and Barbuda  Gross domestic product per capita, current prices

          Units  Scale                      Country/Series-specific Notes  \
0  U.S. dollars  Units  See notes for:  Gross domestic product, curren...
1  U.S. dollars  Units  See notes for:  Gross domestic product, curren...
2  U.S. dollars  Units  See notes for:  Gross domestic product, curren...
3  U.S. dollars  Units  See notes for:  Gross domestic product, curren...
4  U.S. dollars  Units  See notes for:  Gross domestic product, curren...

        2015  Estimates Start After
0    599.994                 2013.0
1   3995.383                 2010.0
2   4318.135                 2014.0
3   4100.315                 2014.0
4  14414.302                 2011.0
Index(['LOCATION', 'Country', 'INDICATOR', 'Indicator', 'MEASURE', 'Measure',
       'INEQUALITY', 'Inequality', 'Unit Code', 'Unit', 'PowerCode Code',
       'PowerCode', 'Reference Period Code', 'Reference Period', 'Value',
       'Flag Codes', 'Flags', 'total'],
      dtype='object')
Index([                      'Country',            'Subject Descriptor',
                               'Units',                         'Scale',
       'Country/Series-specific Notes',                            2015,
               'Estimates Start After'],
      dtype='object')

In [ ]:
print(df.columns)
print(df2.columns)

Index(['LOCATION', 'Country', 'INDICATOR', 'Indicator', 'MEASURE', 'Measure',
       'INEQUALITY', 'Inequality', 'Unit Code', 'Unit', 'PowerCode Code',
       'PowerCode', 'Reference Period Code', 'Reference Period', 'Value',
       'Flag Codes', 'Flags', 'total'],
      dtype='object')
Index([                      'Country',            'Subject Descriptor',
                               'Units',                         'Scale',
       'Country/Series-specific Notes',                            2015,
               'Estimates Start After'],
      dtype='object')

In [ ]:
# Merged columns
df3 = df.merge(df2,on = 'Country',how = 'inner')
print(df3)

     LOCATION        Country INDICATOR  \
0         AUS      Australia  JE_PEARN
1         AUS      Australia   IW_HADI
2         AUS      Australia  JE_PEARN
3         AUS      Australia  JE_PEARN
4         AUS      Australia   IW_HNFW
...       ...            ...       ...
3213      USA  United States   PS_SFRV
3214      USA  United States   JE_LTUR
3215      USA  United States   HO_BASE
3216      USA  United States   HO_BASE
3217      USA  United States   HO_BASE

                                     Indicator MEASURE Measure INEQUALITY  \
0                            Personal earnings       L   Value        HGH
1     Household net adjusted disposable income       L   Value        HGH
2                            Personal earnings       L   Value         MN
3                            Personal earnings       L   Value        TOT
4               Household net financial wealth       L   Value        TOT
...                                        ...     ...     ...        ...
3213                              Assault rate       L   Value        WMN
3214               Long-term unemployment rate       L   Value        HGH
3215        Dwellings without basic facilities       L   Value        TOT
3216        Dwellings without basic facilities       L   Value         MN
3217        Dwellings without basic facilities       L   Value        WMN

     Inequality Unit Code        Unit  ...    Value Flag Codes  \
0          High       USD   US Dollar  ...  63976.0          E
1          High       USD   US Dollar  ...  62627.0          E
2           Men       USD   US Dollar  ...  54780.0        NaN
3         Total       USD   US Dollar  ...  50449.0        NaN
4         Total       USD   US Dollar  ...  47657.0        NaN
...         ...       ...         ...  ...      ...        ...
3213      Women        PC  Percentage  ...      1.3        NaN
3214       High        PC  Percentage  ...      1.1          E
3215      Total        PC  Percentage  ...      0.1        NaN
3216        Men        PC  Percentage  ...      0.1          E
3217      Women        PC  Percentage  ...      0.1          E

                Flags         total  \
0     Estimated value  4.092929e+09
1     Estimated value  3.922141e+09
2                 NaN  3.000848e+09
3                 NaN  2.545102e+09
4                 NaN  2.271190e+09
...               ...           ...
3213              NaN  1.690000e+00
3214  Estimated value  1.210000e+00
3215              NaN  1.000000e-02
3216  Estimated value  1.000000e-02
3217  Estimated value  1.000000e-02

                                     Subject Descriptor         Units  Scale  \
0     Gross domestic product per capita, current prices  U.S. dollars  Units
1     Gross domestic product per capita, current prices  U.S. dollars  Units
2     Gross domestic product per capita, current prices  U.S. dollars  Units
3     Gross domestic product per capita, current prices  U.S. dollars  Units
4     Gross domestic product per capita, current prices  U.S. dollars  Units
...                                                 ...           ...    ...
3213  Gross domestic product per capita, current prices  U.S. dollars  Units
3214  Gross domestic product per capita, current prices  U.S. dollars  Units
3215  Gross domestic product per capita, current prices  U.S. dollars  Units
3216  Gross domestic product per capita, current prices  U.S. dollars  Units
3217  Gross domestic product per capita, current prices  U.S. dollars  Units

                          Country/Series-specific Notes       2015  \
0     See notes for:  Gross domestic product, curren...  50961.865
1     See notes for:  Gross domestic product, curren...  50961.865
2     See notes for:  Gross domestic product, curren...  50961.865
3     See notes for:  Gross domestic product, curren...  50961.865
4     See notes for:  Gross domestic product, curren...  50961.865
...                                                 ...        ...
3213  See notes for:  Gross domestic product, curren...  55805.204
3214  See notes for:  Gross domestic product, curren...  55805.204
3215  See notes for:  Gross domestic product, curren...  55805.204
3216  See notes for:  Gross domestic product, curren...  55805.204
3217  See notes for:  Gross domestic product, curren...  55805.204

     Estimates Start After
0                   2014.0
1                   2014.0
2                   2014.0
3                   2014.0
4                   2014.0
...                    ...
3213                2015.0
3214                2015.0
3215                2015.0
3216                2015.0
3217                2015.0

[3218 rows x 24 columns]